/**************** GRID ****************/
.grid__abeceda {
  margin-top:20px;
}

.grid__abeceda .paper--font-big {
  font-size:30px;
}

.paper--color-left {
  color:#939AA4;
}

.paper--color-hit {
  color:#10c891;  
}

.paper--color-miss {
  color:#ff4500;
}
.paper--color-purple {
  color:#3f51b5;
}

.grid__abeceda__row--mt-10 {
  flex-basis: 13.666667%!important;
}
/**************** GRID ****************/