/* 
  Because of Material IO I'm using maximum specificity like !important. 
  Would not do that with my own CSS.
*/

.App {
  text-align: center;
  display:flex;
  justify-content: center;
}

.block {
  width:60%;
}

/**************** DIFFICULTY BLOCK  ****************/
.block__difficulty {
  margin-top:20px;
  margin-bottom:15px; 
}

.block__difficulty__label--big-font-label {
  font-size:30px!important; 
  margin-bottom:20px;
}
/**************** DIFFICULTY BLOCK  ****************/

/**************** GAME ****************/

.block__game__random-number {
  font-size:35px;
}

.block__game__random-number--display-true {
  display: block;
}
.block__game__random-number--display-false {
  display: none;
}



/**************** GAME ****************/


/**************** SCORE BLOCK ****************/
.block__score {
  text-align:left;
}
/**************** SCORE BLOCK ****************/