/* 
  Because of Material IO I'm using maximum specificity like !important. 
  Would not do that with my own CSS.
*/

.App {
  text-align: center;
  display:flex;
  justify-content: center;
}

.block {
  width:60%;
}

/**************** DIFFICULTY BLOCK  ****************/
.block__difficulty {
  margin-top:20px;
  margin-bottom:15px; 
}

.block__difficulty__label--big-font-label {
  font-size:30px!important; 
  margin-bottom:20px;
}
/**************** DIFFICULTY BLOCK  ****************/

/**************** GAME ****************/

.block__game__random-number {
  font-size:35px;
}

.block__game--display-true {
  display: block;
}
.block__game--display-false {
  display: none;
}

/**************** GRID ****************/
.grid__abeceda {
  margin-top:20px;
}
.grid__abeceda .paper--font-big {
  font-size:30px;
}

.grid__abeceda .paper--color-gray {
  color:#939AA4;
}

.grid__abeceda .paper--color-green {
  color:#10c891;  
}
.grid__abeceda .paper--color-red {
  color:#ff4500;
}
.grid__abeceda__row--mt-10 {
  flex-basis: 13.666667%!important;
}
/**************** GRID ****************/

/**************** GAME ****************/